html, body {
    background-image: url("../img/background@1X.png");
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: #0009;
}

.milan_holidays {
    margin-left: 155px;
    display: inline-block;
    margin-top: 49px;
}

.text_1 {
    position: relative;
    left: 60px;
    bottom: 60px;
    color: white;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

.text_1 > a {
    text-decoration: none;
    color: white;
}

h2 {
    display: block;
    font-size: 31px;
    margin-block-start: 0em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

h3 {
    display: block;
    font-size: 19px;
    margin-block-start: 0em;
    margin-block-end: 0px;
    margin-inline-start: 1.2px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.text_1 > a:hover {
    color: #f26522;
    transition: all 0.3s ease;
}

.contact_information {
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
    margin-right: 147px;
    float: right;
    margin-top: 57px;
}

.number {
    margin-right: 1px;
}

main {
    margin-top: 46px;
    margin-left: 157px;
    margin-right: 130px;
}

.container {
    float: left;
    width: 200px;
    margin-right: 5px;
    display: block;
}

.first_photo .second_photo .third_photo .fourth_photo {
    width: 200px;
}

.container {
    width: 200px;
}

.description {
    font-family: Verdana;
    color: white;
    position: relative;
    left: 84px;
    font-size: 18px;
    margin-top: 22px;
}

a {
    text-decoration: none;
}

.first_photo .main-text {
    position: absolute;
    top: 129px;
    font-family: Verdana;
    text-align: center;
    padding: 5px;
    width: 301px;
    height: 63px;
}

.first_photo:hover .main-text {
    transition: all 0.3s ease;
    display: inline-block;
    background: #f26522;
}

.first_photo:hover .description {
    transition: all 0.3s ease;
    color: #f26522;
}

.from_text, .a, .e, .i, .m, .q {
    margin-right: 267px;
    margin-left: 21px;
    font-size: 10px;
}

.money_text, .b, .f, .j, .n, .r {
    font-size: 20px;
    margin-left: 21px;
    margin-right: 253px;
}

.detail_text, .c, .g, .k, .o, .s {
    font-size: 14px;
    margin-left: 165px;
}

.symbol, .detail_text, .a, .d, .e, .h, .i, .l, .m, .p, .q, .t {
    margin-bottom: 20px;
}

.img-production {
    position: relative;
    background: linear-gradient(to bottom, white, grey, black);
    padding: 2px;
    border-radius: 2px 2px;
}

.main-text {
    display: none;
}

.first_photo > a > div {
    color: white;
}

.img-production:hover .main-text {
    transition: all 0.3s ease;
}

.second_photo {
    position: relative;
    left: 376px;
    bottom: 252px;
    width: 308px;
    height: 200px;
}

.second_img {
    background: linear-gradient(to bottom, white, grey, black);
    padding: 2px;
    border-radius: 2px 2px;
}

.second_description {
    font-family: Verdana;
    font-size: 18px;
    color: white;
    position: relative;
    left: 75px;
    top: 22px;
    width: 161px;
}

.second_description:hover {
    color: #f26522;
    transition: all 0.3s ease;
}

.second_img:hover .second_text {
    display: block;
}

.second_text {
    position: relative;
    bottom: 105px;
    font-family: Verdana;
    background: #f26522;
    text-align: center;
    padding: 5px;
    width: 302px;
    height: 67px;
    color: white;
    display: none;
}

.second_photo:hover .second_text {
    display: inline-block;
    transition: 0.3s ease;
}

.second_photo:hover .second_description {
    color: #f26522;
    transition: all 0.3s ease;
}

.b {
    font-size: 20px;
    margin-left: 21px;
    margin-right: 253px;
}

.third_photo {
    position: relative;
    left: 750px;
    bottom: 450px;
}

.third_decoration {
    color: white;
    font-size: 18px;
    font-family: Verdana;
    position: relative;
    left: 106px;
    top: 22px;
}

.third_img {
    background: linear-gradient(to bottom, white, grey, black);
    padding: 2px;
    border-radius: 2px 2px;
    height: 200px;
}

.third_photo:hover .third_decoration {
    color: #f26522;
    transition: all 0.3s ease;
}

.third_text {
    position: absolute;
    bottom: 28px;
    font-family: Verdana;
    background: #f26522;
    text-align: center;
    padding: 5px;
    width: 301px;
    height: 67px;
    color: white;
    display: none;
}

.third_photo:hover .third_text {
    display: block;
}

.fourth_photo {
    position: relative;
    bottom: 400px;
    width: 308px;
    height: 201px;
}

.fourth_img {
    background: linear-gradient(to bottom, white, grey, black);
    padding: 2px;
    border-radius: 2px 2px;
}

.fourth_decoration {
    color: white;
    font-size: 18px;
    font-family: Verdana;
    position: relative;
    top: 22px;
    left: 75px;
    display: inline-block;
}

.fourth_photo:hover .fourth_decoration {
    color: #f26522;
    transition: all 0.3s ease;
}

.fourth_text {
    position: relative;
    bottom: 105px;
    font-family: Verdana;
    background: #f26522;
    text-align: center;
    padding: 5px;
    width: 301px;
    height: 67px;
    color: white;
    display: none;
}

.fourth_photo:hover .fourth_text {
    display: block;
    transition: height 0.3s ease;
}

.container {
    height: 500px;
    position: relative;
    bottom: 65px;
}

.img-production, .second_img, .third_img, .fourth_img {
    box-shadow: black -3px 3px 6px 3px;
}

.fifth_photo {
    position: relative;
    bottom: 602px;
    left: 375px;
    width: 308px;
    height: 201px;
}

.fifth_img {
    background: linear-gradient(to bottom, white, grey, black);
    padding: 2px;
    border-radius: 2px 2px;
    box-shadow: black -3px 3px 6px 3px;
}

.fifth_decoration {
    font-size: 18px;
    color: white;
    font-family: Verdana;
    position: relative;
    left: 73px;
    top: 22px;
}

.fifth_text {
    position: relative;
    bottom: 105px;
    font-family: Verdana;
    background: #f26522;
    text-align: center;
    padding: 5px;
    width: 301px;
    height: 67px;
    color: white;
    display: none;
}

.fifth_photo:hover .fifth_text {
    display: block;
    transition: all 0.3s ease;
}

.fifth_photo:hover .fifth_decoration {
    color: #f26522;
    transition: all 0.3s ease;
}

.sixth_photo {
    position: relative;
    left: 752px;
    bottom: 800px;
}

.sixth_img {
    background: linear-gradient(to bottom, white, grey, black);
    padding: 2px;
    border-radius: 2px 2px;
    box-shadow: black -3px 3px 6px 3px;
}

.sixth_decoration {
    font-family: Verdana;
    font-size: 18px;
    color: white;
    position: relative;
    left: 91px;
    top: 22px;
}

.sixth_text {
    position: relative;
    bottom: 105px;
    font-family: Verdana;
    background: #f26522;
    text-align: center;
    padding: 5px;
    width: 302px;
    height: 67px;
    color: white;
    display: none;
}

.sixth_photo:hover .sixth_decoration {
    color: #f26522;
    transition: all 0.3s ease;
}

.sixth_photo:hover .sixth_text {
    display: block;
}

.last_text {
    color: white;
    font-family: Verdana;
    font-size: 12px;
    position: relative;
    top: 530px;
    left: 152px;
    display: inline-block;
}

html, body {
    height: 768px;
}
