html, body {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    background-size: 100%, 120%;
}

.JOURNEY {
    color: white;
    opacity: 1;
    font-size: 20px;
    position: relative;
    left: 91px;
    bottom: 38px;
    font-family: Verdana, Bold;
}

.img_first {
    float: left;
    width: 100%;
}

.menu > a {
    text-decoration: none;
}

.JOURNEY:hover {
    color: #3CB878;
    transition: 0.4s;
}

.first_icon {

    width: 19px;
    height: 19px;
}

.first_icon {
    position: relative;
    background-image: url("../icons/ic_caledar@1X.png");
    left: 906px;
    bottom: 57px;
    display: inline-block;
}


.second_icon {
    position: relative;
    left: 943px;
    bottom: 57px;
    display: inline-block;
}


.third_icon {
    position: relative;
    left: 979px;
    bottom: 57px;
    display: inline-block;
}

.line {
    border: 1px;
    border-radius: 8px 8px;
    background-color: #302f2e;
    position: relative;
    left: 1079px;
    bottom: 79px;
    display: inline-block;
    height: 19px;
    width: 1px;
}

.LS {
    color: white;
    font-family: Verdana, Bold;
    position: absolute;
    left: 1094px;
    top: 20px;
}

.LI > a,
.SU > a {
    color: #3CB878;
    text-decoration: none;
}

.LI:hover {
    text-decoration: underline;
}

.SU:hover {
    text-decoration: underline;
}

.main_block {
    border: 1px;
    border-radius: 10px;
    background-color: white;
    height: 584px;
    width: 444px;
    position: absolute;
    left: 461px;
    top: 121px;
    margin-bottom: 80px;
}

.square {
    border: #3CB878 1px;
    border-radius: 1px;
    background-color: #3CB878;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 29px;
}

.SU2 {
    font-size: 20px;
    position: absolute;
    top: 29px;
    left: 60px;
    font-family: Verdana, Bold;
    color: #434343;
}

.LI2 {
    color: #3CB878;
    font-size: 14px;
    font-family: Verdana, Bold;
    position: absolute;
    top: 34px;
    left: 342px;
}

.first_block {
    background-color: #305db8;
    border: #305db8 1px;
    height: 46px;
    width: 157px;
    border-radius: 4px;
    position: absolute;
    top: 63px;
    left: 62px;
}

.first_block:hover {
    background-color: #264B96;
    transition: all 0.4s ease;
}

.second_block:hover {
    background-color: #C3412C;
    transition: all 0.4s ease;
}

.first_block > img {
    position: absolute;
    top: 13px;
    left: 20px;
}

.line2 {
    border: 1px;
    background-color: #434343;
    color: #434343;
    height: 28px;
    width: 1px;
    position: absolute;
    top: 9px;
    left: 47px;
    opacity: 0.3;
}

.FB {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 16px;
    left: 66px;
    font-family: Arial;
}

.second_block > img {
    position: absolute;
    left: 13px;
    top: 15px;
}

.second_block {
    position: absolute;
    top: 63px;
    left: 227px;
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border: 1px #df4a32;
    border-radius: 2px;
}

.line3 {
    border: 1px;
    background-color: #434343;
    color: #434343;
    height: 28px;
    width: 1px;
    position: absolute;
    top: 9px;
    left: 47px;
    opacity: 0.3;
}

.G {
    font-size: 16px;
    position: absolute;
    left: 72px;
    top: 16px;
    color: white;
    font-family: Arial;
}

.LI2 > a {
    color: #3CB878;
    text-decoration: none;
}

.LI2:hover {
    text-decoration: underline;
}

.line4 {
    border: 1px;
    background-color: #eaeaea;
    width: 135px;
    height: 1px;
    position: absolute;
    top: 146px;
    left: 62px;
}

.line5 {
    border: 1px;
    background-color: #eaeaea;
    width: 135px;
    height: 1px;
    position: absolute;
    top: 146px;
    left: 249px;
}

.or {
    color: #848484;
    font-family: Verdana, Arial;
    font-size: 14px;
    width: 15px;
    height: 8px;
    position: absolute;
    left: 215px;
    top: 137px;
}

input[type="text"] {
    width: 300px;
    height: 46px;
    position: absolute;
    left: 62px;
    top: 168px;
    opacity: 0.4;
    font-size: 14px;
    color: black;
    padding-left: 19px;
    font-family: Verdana, Bold;
    border-radius: 2px;
    border: 0px;
    box-shadow: #788794 0px 0px 0px 1px;

}

#FN {
    border-radius: 2px;
    border: 0px;
    box-shadow: #788794 0px 3px 5px 0px;
    width: 300px;
}

input[type="text"]:focus {
    opacity: 0.9;
}

input[type="email"]:focus {
    opacity: 0.9;
}

input[type="password"]:focus {
    opacity: 0.9;
}

.Last_name {
    position: absolute;
    top: 63px;
}

input[type="email"] {
    width: 300px;
    height: 46px;
    position: absolute;
    left: 62px;
    top: 286px;
    opacity: 0.4;
    font-size: 14px;
    color: black;
    padding-left: 19px;
    font-family: Verdana, Bold;
    border-radius: 2px;
    border: 0px;
    box-shadow: #788794 0px 0px 0px 1px;
}

input[type="password"] {
    width: 300px;
    height: 46px;
    position: absolute;
    left: 62px;
    top: 341px;
    opacity: 0.4;
    font-size: 14px;
    color: black;
    padding-left: 19px;
    font-family: Verdana, Bold;
    border-radius: 2px;
    border: 0px;
    box-shadow: #788794 0px 0px 0px 1px;
}

.confirm_password {
    position: absolute;
    top: 55px;
}

input[type="checkbox"] {
    display: none;
}

label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
}

label {
    font-family: Verdana, Bold;
    font-size: 14px;
    position: absolute;
    top: 464px;
    left: 71px;
}

input[type="checkbox"]:checked + label::before {
    content: '';
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../icons/Untitled.jpg");
}

.TC > a {
    text-decoration: none;
    color: #3CB878;
}

.TC:hover {
    text-decoration: underline;
}

input[type="button"] {
    background-color: #3CB878;
    position: absolute;
    top: 506px;
    left: 62px;
    width: 322px;
    height: 46px;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    border: #3CB878;
    border-radius: 3px;
}

input[type="button"]:hover {
    background-color: #329A65;
}


