.menu3_2 {
    padding-left: 185px;
    padding-right: 25px;
    font-size: 17pt;
}

.Why {
    text-decoration: underline;
    color: #3181a6;
}
.menu3 {
    display: inline-block;
    font-size: 20pt;
    background-color: #b4b7ba;
    margin-left: 100px;
    margin-top: 51px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 38px;
}

.text_2 {
    text-align: left;
    font-size: 18px;
    margin-left: 425px;
    margin-right: 70px;
    margin-top: 30px;
}
.text_1 {
    text-align: left;
    font-size: 18px;
    margin-left: 425px;
    margin-right: 70px;
    margin-top: 50px;

}

.img {

    display: inline-block;
    margin-left: 425px;
    margin-top: -297px;
    border: 1px grey solid;
    padding: 75px 230px 73px 268px;
    background-position: center;


}
.menu2>ul>li>a:hover {
    color: black;
    background-color: #dbdbdb;
    margin-left: 1px;

}
.menu2>ul>li>a {
    display: inline-block;
    padding: 13px 60px 15px 0px;
    font-size: 24px;
    color: #2f3640;
    transition: all 0.4s ease;
    text-align: left;
    color: grey;
}
.menu2{
    border: 1px grey solid;
    display: inline-block;
    margin-left: 105px;;
    margin-top: 51px;
    font-size: 10px;

}
.menu2>ul,li,a {
    list-style: none;
    text-decoration: none;
}
.menu>ul>li:hover {
    background-color: #222f3a;
    border-left: 1px grey solid;
    border-right: 1px grey solid;

}
.menu {
    background-color: #35444f;
    margin-left: 105px;
    margin-right:105px;
}
.menu>ul {
    display: flex;
    margin-top: 45px;
    justify-content: center;
    list-style: none;
}
.menu>ul li a {
    display: inline-block;
    padding: 25px 30px 15px 25px;
    font-size: 25px;
    color: #2f3640;
    text-decoration: none;
    transition: all 0.4s ease;
    list-style: none;
    color: white;
}

.radma>.Ra,span,a {
    text-decoration: none;
    color: black;
}
.radma  {
    margin-top: 61px;
    margin-left: 101px;
    font-size: 80pt;
    text-decoration: none;
}



span {
    color: #4bcaff;
}
html,body {
    margin: 0px;
    padding: 0px;
}