.image-to-show {
    position: relative;
    width: 150px;
    height: 129px;
}

.images-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    height: 128px;
    border: 5px solid black;
    margin: 50px auto;
    overflow: hidden;
}

.polosa {
    width: 896px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.polosa img {
    float: left;
}

.polosa::after {
    content: "";
    display: block;
    clear: both;
}