.grey {
    background-color: #E6E6E6;
    height: max-content;
    padding-bottom: 70px;
}
.second_fon {
    background-image: url("../img/Sfondo@1X.png");
    background-position: bottom;
}

.author {
    margin-top: 40px;
    text-align: right;
    color: black;
    font-family: Britannic, Bold;
    margin-bottom: 30px;
}
.button:hover {
    background: #454547;

    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

.button {

    font-size: 25px;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 60px;

    display: block;
    text-align: center;

    line-height: 60px;
    font-family: Bahnschrift, Light;
    background: #16a085;


    margin-left: 550px;
    margin-top: 41px;

}
* {
    margin: 0px;
    padding: 0px;
}

.y {
    text-align: center;
    margin-left: 430px;

}
.Second_text {
    margin-left: 52px;
    margin-right:52px;
    margin-top: 20px;
    font-family: Bahnschrift, Light;
    font-size: 14pt;
    background-color: #E6E6E6;
}
.main_text {
    text-align: center;
    font-family: Arial, Bold;
    margin-top: 15px;
    background-color: #E6E6E6;

}
.menu li a:hover {
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

.menu>ul li a{
    display: block;

    padding: 13px 30px 15px 40px;
    font-size: 25px;
    color: #2f3640;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
    opacity: 0.8;
    color: #16a085;
}
.menu>ul {
    display: flex;
    justify-content: center;
}
.menu ul {
    list-style: none;
}
header {
    margin: 1px;
    font-family: Arial, Bold

}




